/* bagian nama */

p {

    color: rgb(220, 166, 181);
    font-size: 60px;
    text-align: center;
    /* text-decoration: dashed underline rgb(19, 19, 19); */
    text-transform: capitalize;
    font-family: playwrite in guides, sans-serif;
    font-weight: bolder;
    text-indent: 100px;
}

/* body {
    background-color: rgb(151, 51, 51);
} */

body {
   background-image:url(bg.png);}


/* kotak */
/* div {
    width: 200px;
    height: 200px;
    background-color: rgb(172, 133, 133);
    border: 5px solid rgb(247, 242, 242);
    box-shadow: 10px 10px 5px rgb(100, 100, 100);
    margin: 100px 100px 100px 100px;
    padding-top: 200px;
} */

/* teks berita */
.berita {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height:1.5;
    color: #333333;
    margin: 20px;
    text-align: justify;
    text-indent: 100px;
}

a:link {
    color: red;
}

a:link :visited {
    color: purple;
}   

a:hover {
    color: pink;
}

.container {
    height: 300px;
    width: 300px;
    margin: 100px 100px 100px 100px;
    padding: 20px;
    background-color: #7db8c2;
    border: 5px solid #ddd;
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    display: flex;
    gap: 20px;
}
.item1 {
    background-color: #89674c;
    height: 100px;
    width: 100px;
}
.item2 {
    background-color: #f4a261;
    height: 100px;
    width: 100px;
}
.item3 {
    background-color: #925019;
    height: 100px;
    width: 100px;
}

.container2 {
    height: 300px;
    width: 300px;
    margin: 100px 100px 100px 100px;
    padding: 20px;
    background-color: #7db8c2;
    border: 5px solid #ddd;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    place-items: center;
}

.item11 {
    background-color: r#acaa1e;
    height: 100px;
    width: 100px;
    opacity: 1;
}

.item12 {
    background-color: #2ab59c;
    height: 100px;
    width: 100px;
}

.item13 {
    background-color: #d20e97;
    height: 100px;
    width: 100px;
    opacity: 0.1;
}